{% extends "base.html" %}
{% load static %}
{% block title %}Product Detail{% endblock %}
{% block content %}
    {% include "partials/header.html" %}
    <div class="d-sm-none d-block" style="margin-top: 10%; margin-left: 4%;">
        <a href="javascript:history.back()">
            <ion-icon name="arrow-back-outline"  size = "large"></ion-icon>
        </a>
      </div>
    <div class="container d-sm-block d-none">
        <div class="row pt-3">
          <div class="col">
            <nav aria-label="breadcrumb" class="rounded-3 p-3">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                  <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/shop">Shop</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Product Detail</li>
              </ol>
            </nav>
          </div>
        </div>
    </div>

    <div class="container py-3 my-2 rounded-1" style="background-color: #f8fafc;">
        <div class="product-detail">
            <div class='container flex-row d-flex'>
                <div class="row">
                    <!-- Hình ảnh sản phẩm -->
                    <div class="col-12 col-sm-4 mb-3">
                        <div class="card border-0">
                            <img src="{{ product.image_url }}" alt="{{ product.name }}" class="product-image">
                        </div>
                    </div>

                    <!-- Thông tin sản phẩm -->
                    <div class="col-12 col-sm-5 mb-3">
                        <div class='mb-3'>
                            <div class="card border-0">
                                <div class="card-body gap-3">
                                    <div class="product-detail">
                                        <h3 class="product-title">
                                          {{ product.name }}
                                        </h3>
                                        <div class="d-flex align-items-center gap-2 mb-2">
                                            <!-- Phần đánh giá (Rating) -->
                                            <div class="d-flex rating" data-full-star="{% static 'image/full-star.png' %}" data-half-star="{% static 'image/half-star.png' %}" data-empty-star="{% static 'image/empty-star.png' %}">
                                                <!-- JavaScript sẽ chèn hình ảnh ngôi sao vào đây -->
                                            </div>
                                            <div class="fs-6 text-secondary px-2 border-start">Đã bán: {{ product.sold_quantity }}</div>
                                        </div>
                                        <div class="fs-6 text-secondary" style="font-family: 'Inter', sans-serif;">
                                            {% if product.stock_quantity %}
                                                Số sản phẩm còn lại: {{ product.stock_quantity }}
                                            {%else%}
                                                Hết hàng
                                            {%endif%}
                                        </div>
                                        <!-- Giá sản phẩm -->
                                        <div class="item-price text-danger fs-3 fw-semibold" id="product-price">{{ product.price }}₫</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Mô tả sản phẩm -->
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="description-container">
                                    <ul class="custom-list">
                                        {% for item in product.description.splitlines %}
                                            <li>{{ item }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <a href="#" class="toggle-description" id="toggle-description" style="font-family: 'Inter', sans-serif;">Xem thêm</a>
                            </div>
                        </div>
                        <div>
                            <div class="col-sm-6 p-2">
                                <div class="card border-1 border-blue-400 ">
                                    <h5 class="card-header bg-blue-500 text-white">TRỢ GIÚP</h5>
                                    <div class="card-body">
                                        <ul class="custom-list2">
                                            <li>Hướng dẫn đặt hàng Flash Sale</li>
                                            <li>Hướng dẫn mua hàng</li>
                                            <li>Chính sách bảo hành đổi trả</li>
                                            <li>Chính sách mua trả góp</li>
                                            <li>Chính sách giao hàng</li>
                                            <li>Chính sách bảo hành tận nhà</li>
                                            <li>Hỗ trợ khách hàng dự án, doanh nghiệp</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 p-2">
                                <div class="card border-1 border-blue-400 ">
                                    <h5 class="card-header bg-blue-500 text-white">MUA HÀNG NHANH, TIỆN LỢI</h5>
                                    <div class="card-body">
                                        <ul class="custom-list2">
                                            <li>Mua online - Giao hàng nhanh</li>
                                            <li>Ship hàng toàn quốc</li>
                                            <li>Nhận hàng và thanh toán tại nhà ( ship COD)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-3 mb-3">
                        <div class="card border-1">
                            <div class="card-body">
                                <!-- Bộ đếm số lượng -->
                                {% if product.stock_quantity %}
                                <div class='p-3'>
                                    <h5 class="mb-2">Số lượng</h5>
                                    <div class="flex items-center">
                                        <button class="bg-blue-500 text-white p-2 rounded-1" id="decrementQuantity">
                                            <span class="text-lg">-</span>
                                        </button>
                                        <input
                                            type="number"
                                            id="quantity"
                                            class="form-control mx-2 text-center border-gray-300"
                                            value="1"
                                            min="1"
                                            style="width: 80px;"
                                        />
                                        <button class="bg-blue-500 text-white p-2 rounded-1" id="incrementQuantity">
                                            <span class="text-lg">+</span>
                                        </button>
                                    </div>
                                </div>
                            
                                <!-- Giá tạm tính -->
                                <div class='p-3'>
                                    <h5 class="mb-2">Tạm tính</h5>
                                    <p id="temporaryPrice" class="card-text price text-xl text-red-500">
                                        0₫
                                    </p>
                                </div>
                                {% else %}
                                <div class="mb-4"></div>
                                {%endif%}
                                <!-- Nút bấm hành động -->
                                <div class="d-grid gap-2 p-3" style="font-family: 'Inter', sans-serif;">
                                    {% if product.stock_quantity %}
                                        <button id="buyNow" class="bg-red-500 text-white py-2 px-4 rounded" type="button">Mua ngay</button>
                                        <button id="addToCart" class="bg-blue-500 text-white py-2 px-4 rounded" type="button">Thêm vào giỏ hàng</button>
                                        <button id="buyInstallments" class="bg-blue-500 text-white py-2 px-4 rounded" type="button">Mua trả góp</button>
                                    {% else %}
                                        <button class="bg-red-500 text-white py-2 px-4 rounded" type="button" disabled>Hết hàng</button>
                                        <button class="bg-blue-500 text-white py-2 px-4 rounded" type="button">Liên hệ khi có hàng</button>
                                    {% endif %}
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    {% include "partials/mobileNav.html" %}
    {% include "partials/footer.html" %}

    <!-- JavaScript để hiển thị đánh giá (Rating) -->
    <script>
        function getCSRFToken() {
            return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        }
        document.addEventListener('DOMContentLoaded', function() {
            // Hiển thị đánh giá (Rating)
            const ratingContainer = document.querySelector('.rating');
            const rating = {{ product.rating|default:0 }}; // Dữ liệu rating từ Django
    
            // Lấy các đường dẫn ảnh từ thuộc tính data của div
            const fullStar = ratingContainer.getAttribute('data-full-star');
            const halfStar = ratingContainer.getAttribute('data-half-star');
            const emptyStar = ratingContainer.getAttribute('data-empty-star');
    
            let fullStars = Math.floor(rating);
            let halfStars = (rating % 1) >= 0.5 ? 1 : 0;
            let emptyStars = 5 - fullStars - halfStars;
    
            let starsHTML = '';
    
            for (let i = 0; i < fullStars; i++) {
                starsHTML += `<img src="${fullStar}" alt="Full Star">`;
            }
    
            if (halfStars > 0) {
                starsHTML += `<img src="${halfStar}" alt="Half Star">`;
            }
    
            for (let i = 0; i < emptyStars; i++) {
                starsHTML += `<img src="${emptyStar}" alt="Empty Star">`;
            }
    
            ratingContainer.innerHTML = starsHTML;
    
            // Xử lý thu gọn hoặc mở rộng mô tả sản phẩm
            const toggleDescription = document.getElementById('toggle-description');
            const descriptionContainer = document.querySelector('.description-container');
        
            toggleDescription.addEventListener('click', function(event) {
                event.preventDefault();
        
                if (descriptionContainer.classList.contains('expanded')) {
                    descriptionContainer.classList.remove('expanded');
                    toggleDescription.textContent = 'Xem thêm';
                } else {
                    descriptionContainer.classList.add('expanded');
                    toggleDescription.textContent = 'Thu gọn';
                }
            });
    
            // Cập nhật số lượng và giá tạm tính
            const quantityInput = document.getElementById('quantity');
            const temporaryPriceElement = document.getElementById('temporaryPrice');
            const productPrice = parseFloat(document.getElementById('product-price').textContent.replace(/[₫,]/g, ''));
            const addToCartButton = document.getElementById('addToCart');
            const buyNowButton = document.getElementById('buyNow');
            const decrementButton = document.getElementById('decrementQuantity');
            const incrementButton = document.getElementById('incrementQuantity');
            const stockQuantity = {{ product.stock_quantity }};
    
            // Cập nhật giá tạm tính
            const updateTemporaryPrice = () => {
                let quantity = parseInt(quantityInput.value);
                if (quantity > stockQuantity) {
                    quantity = stockQuantity; // Đặt số lượng tối đa là hàng tồn kho
                    quantityInput.value = quantity;
                }
                if (quantity < 1) {
                    quantity = 1; // Đặt số lượng tối đa là hàng tồn kho
                    quantityInput.value = quantity;
                }
                const temporaryPrice = productPrice * quantity;
                temporaryPriceElement.textContent = `${temporaryPrice.toLocaleString('vi-VN')}₫`;
            };
    
            // Xử lý sự kiện thay đổi số lượng
            quantityInput.addEventListener('input', updateTemporaryPrice);
    
            // Xử lý sự kiện click nút tăng
            incrementButton.addEventListener('click', () => {
                let quantity = parseInt(quantityInput.value);
                if (quantity < stockQuantity) {
                    quantityInput.value = quantity + 1;
                    updateTemporaryPrice();
                }
            });
        
            // Xử lý sự kiện click nút giảm
            decrementButton.addEventListener('click', () => {
                let quantity = parseInt(quantityInput.value);
                if (quantity > 1) {
                    quantityInput.value = quantity - 1;
                    updateTemporaryPrice();
                }
            });
    
            // Thêm vào giỏ hàng
            addToCartButton.addEventListener('click', () => {
                const quantity = parseInt(quantityInput.value);
                const productId = {{ product.id }}; // ID sản phẩm từ Django
                fetch('/api/addToCart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCSRFToken()
                    },
                    body: JSON.stringify({
                        productId: productId,
                        quantity: quantity
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error === 'not_logged_in') {
                        // Hiển thị popup yêu cầu đăng nhập
                        Swal.fire({
                            title: 'Bạn chưa đăng nhập',
                            text: 'Vui lòng đăng nhập để thêm sản phẩm vào giỏ hàng.',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Đăng nhập',
                            cancelButtonText: 'Hủy'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Điều hướng đến trang đăng nhập
                                window.location.href = '/login/';
                            }
                        });
                    } else {
                        // Hiển thị thông báo thêm vào giỏ hàng thành công
                        Swal.fire({
                            title: 'Thành công!',
                            text: 'Sản phẩm đã được thêm vào giỏ hàng.',
                            icon: 'success',
                            timer: 2000,
                            showConfirmButton: false
                        });
                    }
                })
                .catch(error => {
                    console.error('Error adding item to cart:', error);
                })
                .finally(() => {
                    isAddingToCart = false;  // Reset lại trạng thái
                });
            })
            // Mua ngay
            buyNowButton.addEventListener('click', () => {
                const quantity = parseInt(quantityInput.value);
                const productId = {{ product.id }}; // ID sản phẩm từ Django
                fetch('/api/addToCart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ productId, quantity })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error === 'not_logged_in') {
                        // Hiển thị popup yêu cầu đăng nhập
                        Swal.fire({
                            title: 'Bạn chưa đăng nhập',
                            text: 'Vui lòng đăng nhập để thêm sản phẩm vào giỏ hàng.',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Đăng nhập',
                            cancelButtonText: 'Hủy'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Điều hướng đến trang đăng nhập
                                window.location.href = '/login/';
                            }
                        });
                    } else {
                        // Hiển thị thông báo thêm vào giỏ hàng thành công
                        Swal.fire({
                            title: 'Thành công!',
                            text: 'Sản phẩm đã được thêm vào giỏ hàng.',
                            icon: 'success',
                            timer: 2000,
                            showConfirmButton: false
                        });
                        window.location.href = '/cart/'
                    }
                })
                .catch(error => {
                    console.error('Error adding to cart:', error);
                })
                .finally(() => {
                    isAddingToCart = false;  // Reset lại trạng thái
                });
            });
        
            // Tính toán giá tạm tính khi tải trang
            updateTemporaryPrice();
        });
    </script>
    


{% endblock %}
