{% extends 'base.html' %}
{% block title %}
  Profile details
{% endblock %}
{% block content %}
  {% include 'partials/header.html' %}
  <section style="background-color: #f8fafc;">
    <div class="container">
      <div class="row pt-3">
        <div class="col">
          <nav aria-label="breadcrumb" class="rounded-3 p-3">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="py-5">
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                <!-- Form cập nhật hình ảnh -->
                <form id="imageUploadForm" method="POST" enctype="multipart/form-data" action="{% url 'upload_image' %}">
                  {% csrf_token %}
                  <!-- Phần hình ảnh -->
                  <div class="d-flex align-items-center justify-content-center mb-4">
                    {% if user.avatar_url %}
                      <img src="{{ user.avatar_url }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;" id="avatar-preview" />
                    {% else %}
                      <img src="https://cdn.discordapp.com/attachments/1184857907049807977/1284097928163627019/avatar-default.jpg?ex=66e564e3&is=66e41363&hm=5e68100178addc90a737cd7c74331b11d1ee8cb0b74a2562be66d79ec73851b9&" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;" id="avatar-preview" />
                    {% endif %}
                  </div>
                  <!-- Phần nút và input -->
                  <div class="d-flex flex-column align-items-center">
                    <label for="avatar" class="btn btn-outline-primary mb-2">Upload</label>
                    <input type="file" id="avatar" name="img" accept="image/*" style="display: none;" />
                    <button type="submit" class="btn btn-primary">Set avatar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <!-- Form cập nhật thông tin -->
                <form id="profileForm" method="POST" action="{% url 'profile' %}">
                  {% csrf_token %}
                  <div class="row align-items-center py-4">
                    <div class="col-sm-3">
                      <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="name" id="name" value="{{ user.name }}" />
                    </div>
                  </div>
                  <hr />
                  <div class="row align-items-center py-4">
                    <div class="col-sm-3">
                      <p class="mb-0">Phone</p>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="phone_number" id="phone_number" value="{{ user.phone_number }}" />
                    </div>
                  </div>
                  <hr />
                  <div class="row align-items-center py-4">
                    <div class="col-sm-3">
                      <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="address" id="address" value="{{ user.address }}" />
                    </div>
                  </div>
                  <hr />
                  <div class="d-flex justify-content-end pt-4">
                    <button type="submit" class="btn btn-primary">Update</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'partials/footer.html' %}

  <script>
    const showAlert = (message, type) => {
      Swal.fire({
        icon: type,
        title: message,
        showConfirmButton: true,
        timer: 3000
      });
    };

    document.getElementById('imageUploadForm').addEventListener('submit', function (event) {
      event.preventDefault(); // Ngăn chặn hành động gửi form mặc định
  
      const formData = new FormData(this);
  
      fetch("{% url 'upload_image' %}", {
          method: 'POST',
          headers: {
              'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
          },
          body: formData
      })
      .then(response => response.json())
      .then(data => {
          if (data.message) {
              // Cập nhật hình ảnh trên trang
              document.getElementById('avatar-preview').src = data.img_link;
              showAlert(data.message, 'success');
          } else if (data.error) {
              showAlert(data.error, 'error');
          }
      })
      .catch(error => {
          console.error('Error:', error);
          showAlert('An error occurred', 'error');
      });
    });

    // Xử lý thông báo cập nhật thông tin người dùng
    document.getElementById('profileForm').addEventListener('submit', function (event) {
      event.preventDefault(); // Ngăn chặn hành động gửi form mặc định
  
      const formData = new FormData(this);
  
      fetch("{% url 'profile' %}", {
          method: 'POST',
          headers: {
              'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
          },
          body: formData
      })
      .then(response => response.json())
      .then(data => {
          if (data.message) {
              showAlert(data.message, 'success');
          } else if (data.error) {
              showAlert(data.error, 'error');
          }
      })
      .catch(error => {
          console.error('Error:', error);
          showAlert('An error occurred', 'error');
      });
    });

    // Hiển thị thông báo nếu có
    {% if message %}
      showAlert('{{ message }}', 'success');
    {% elif error %}
      showAlert('{{ error }}', 'error');
    {% endif %}
  </script>
{% endblock %}
