{% load static %}
<section id="billboard" class="overflow-hidden">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="{% static 'image/img1.png' %}" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="{% static 'image/img2.png' %}" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="{% static 'image/img3.png' %}" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="{% static 'image/img4.png' %}" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <div class="container mt-4 d-sm-block d-none">
    <div class="row gap-4 py-4">
      <div class="col cate">
        <a href="/shop/?cateid=1">
          <img src="https://lh3.googleusercontent.com/F9G66FwNb3MAkEWZg-V7a1zJgyE2LgpeCGg0w_yHtAjNgswed25mQ9Uwh20qUOoqsW4gPfCkzpFy6RBJQLg4lpndIaZPT0SI=w308-rw" alt="" />
        </a>
      </div>
      <div class="col cate">
        <a href="/shop/?cateid=2">
          <img src="https://lh3.googleusercontent.com/wDoU6aMjIcL4zrLcJ1WiGFId5Cl4PCHV4CYw42Dit4DEyVgpGeEv0rVSZws55cEaiGmMnaQvb_7dCrYe4ZQTesBxBYbbFELt_g=w308-rw" alt="" />
        </a>
      </div>
      <div class="col cate">
        <a href="/shop/?cateid=5">
          <img src="https://lh3.googleusercontent.com/TeQ7m8oukkfeKFo5xsuvxj2G0NOsv-GUvkOMMl50wAEsflAKILKAJIrvO7AAnfsAJaRgspCw3nD-E_4q-OQIIU5AThYfNkvXng=w308-rw" alt="" />
        </a>
      </div>
      <div class="col cate">
        <a href="/shop/?brand=Apple">
          <img src="https://lh3.googleusercontent.com/gbeCNxgM4xF216hCFQpRC94j3LIjW-ZwuftBU7AWOV1JpbiEbCQqsFlxBtDvf7an4pF_2pAaU8eGHfal5vYLZ1gEs6iJssm6=w308-rw" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>
